* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  font-size: 14px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  box-sizing: border-box;
}

body {
  background-color: var(--primary-light);
}

:root {
  --primary: #D5960E;
  --primary-dark: #842A00;
  --primary-light: #FAE3B2;

  --secondary: #078f96;
  --secondary-dark: #005257;
  --secondary-light: #1fd7e1;
  
  --black: #000000;
  --white: #FFFFFF;
}

/* Animations */

@keyframes buttonHover {
  from {background-color: var(--secondary-dark);}
  to {background-color: var(--secondary);}

  from {color: var(--white);}
  to {color: var(--white);}
}

/* General Styling */

h1 {
  font-size: 1.5rem;
}

ul, li {
  list-style: none;
}

a:link {
  text-decoration: none;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

/* Heading Styling */

header {
  background-color: var(--secondary-dark);
  color: var(--white);
  justify-content: start;
  align-items: center;
  padding: 1rem 13rem;
}

nav {
  margin-left: auto;
}

nav .divider-vert {
  background-color: var(--secondary);
}

header a {
  display: flex;
  padding: .6rem;
  margin: 0 .5rem;
}

/* nav link styling */

header a:link {
  color: var(--white);
}

header a:hover {
  background-color: var(--secondary-dark);
  border-radius: .5rem;
  animation: buttonHover .3s forwards;
}

header a:visited {
  color: var(--white);
}

/* hero image styling */

.hero {
  background-image: url("../images/hero_background.jpg");
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 40rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 3rem;
  margin-bottom: 4rem;
}

.bounding-container {
  background-color: #005257CC;
  width: 50rem;
  height: 35rem;
  align-items: center;
  justify-content: center;
  border-radius: 3em;
}

.hero img {
  max-height: 25rem;
}

.hero-style {
  color: var(--white);
  text-align: start;
  max-width: 25rem;
}

.hero-style span {
  font-size: 2.7rem;
  font-weight: 700;
}

.hero h2 {
  font-size: 2.5rem;
  margin-bottom: .5rem;
}

.hero h3 {
  font-size: 1.5rem;
}

/* about me styling */

main {
  justify-content: flex-end;
  align-items: center;
  width: 100vw;
}

.divider-vert {
  width: .3rem;
  height: auto;
  margin: 0 .5rem;
  background-color: var(--primary-dark);
  border-radius: 1rem;
}

section {
  
}

.about-me {
  justify-content: center;
  align-content: center;
}

.container-med {
  max-width: 53rem;
}

.about-me h2 {
  font-size: 2rem;
  margin-top: .5rem;
}

.about-me p {
  margin-bottom: .5rem;
}