* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  font-size: 14px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  box-sizing: border-box;
}

body {
  background-color: var(--primary-light);
}

:root {
  --primary: #D5960E;
  --primary-dark: #842A00;
  --primary-light: #FAE3B2;

  --secondary: #00498D;
  --secondary-dark: #001426;
  --secondary-light: #C9E5FF;
  
  --black: #000000;
  --white: #FFFFFF;
}

/* Animations */

@keyframes buttonHover {
  from {background-color: var(--primary-dark);}
  to {background-color: var(--secondary-dark);}

  from {color: var(--white);}
  to {color: var(--white);}
}

/* General Styling */

h1 {
  font-size: 1.5rem;
}

ul, li {
  list-style: none;
}

a:link {
  text-decoration: none;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

/* Heading Styling */

header {
  background-color: var(--primary-dark);
  color: var(--white);
  justify-content: start;
  align-items: center;
  padding: 1rem 8rem;
}

nav {
  margin-left: auto;
}

header a {
  display: flex;
  padding: .6rem;
  margin-right: 1rem;
}

/* nav link styling */

header a:link {
  color: var(--white);
}

header a:hover {
  background-color: var(--secondary-dark);
  border-radius: .5rem;
  animation: buttonHover .3s forwards;
}

header a:visited {
  color: var(--white);
}

/* hero image styling */

.hero {
  background-color: var(--primary-light);
  width: 100vw;
  height: 350px;
  align-items: center;
  justify-content: center;
  padding-left: 3rem;
}

.hero img {
  max-height: 350px;
}

.container {
  color: var(--black);
  text-align: end;
}

.container span {
  font-size: 2.7rem;
  font-weight: 700;
}

.hero h2 {
  font-size: 2.5rem;
}

.hero h3 {
  font-size: 1.5rem;
}

/* about me styling */
